extends layout

block content
    div(class='container')
        h1(class='text-center')= title
        table(class='table table-striped table-hover')
            each row in data
                tr
                    td= row.horario
                    td= row.nome
                    if row.nome
                        td
                            a(href='/liberar/#{row.horario}' class='text-warning') Liberar
                    else
                        td
                            
    div(class='footer navbar-fixed-bottom')
        button.btn.btn-default.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#myModal') Marcar horário
        
    #myModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                form(action='/marcar',method='post' id='marcar')
                    .modal-header
                        button.close(type='button', data-dismiss='modal') &times;
                        |         
                        h4.modal-title Marcar horário
                    |       
                    .modal-body
                        input(type='text' name='nome' placeholder='Nome' required)
                        select(name='horario' placeholder='Horario')
                            each row in data
                                if !row.nome 
                                    option(value='#{row.horario}') #{row.horario}
                    |       
                    .modal-footer
                        input.btn.btn-default.btn-sm(type='submit', value='Marcar')
